<li class="message">
  <div class="content">
    <h3 class="message-title">
      <%= title %>
    </h3>
  </div>

  <div class="message-info">
    <p class="message-username">
      By: <span><%= username %></span>
    </p>
    
    <p class="message-date">
      <%= timestamp %>
    </p>
  </div>


  <div class="message-controls">
    <ul>
      <li>
        <a href='/messages/<%= username%>/<%= id %>'><img src="/assets/icons/open_in_full.svg" alt="#" onload="SVGInject(this)"></a>
      </li>
    </ul>


  </div>
</li>